/* Branches & Atms Section */

/* Countries Tabs Styling */
.branches-atms-network-section .countries-tabs-container {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 1.9rem;
  background-color: var(--white-color);
}

.branches-atms-network-section .countries-tabs {
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.branches-atms-network-section .countries-tabs .nav-link {
  border: none;
  color: var(--gray-color);
  padding: 1rem 0 0.75rem 0;
  position: relative;
  transition: all 0.3s ease;
  white-space: nowrap;
  background-color: transparent;
}

.branches-atms-network-section .countries-tabs .nav-link:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.branches-atms-network-section .countries-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-color);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .branches-atms-network-section .countries-tabs {
    gap: 1rem;
  }

  .branches-atms-network-section .countries-tabs .nav-link {
    font-size: 0.85rem;
    padding: 0.75rem 0;
  }
}

/* Custom radio for all browsers using pseudo-elements */
.branches-atms-network-section
  .countries-tab-content
  .tab-radio-item
  .tab-radio-input[type="radio"]:checked {
  border-color: var(--primary-color);
}

.branches-atms-network-section
  .countries-tab-content
  .tab-radio-item
  .tab-radio-input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--gray-color);
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s;
}

.branches-atms-network-section
  .countries-tab-content
  .tab-radio-item
  .tab-radio-input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background: var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.branches-atms-network-section .countries-tab-content .tab-radio-item {
  cursor: pointer;
}

.branches-atms-network-section .countries-tab-content .tab-radio-item h4 {
  color: var(--gray-color);
}

.branches-atms-network-section .countries-tab-content .primary-btn {
  background-color: var(--green-color);
}

.branches-atms-network-section .countries-tab-content .tab-radio-group {
  margin-inline: auto;
}

@media (max-width: 575.98px) {
  .branches-atms-network-section .countries-tab-content .primary-btn {
    width: 100%;
    justify-content: center;
  }
}

/* Inner tab panes content */
.branches-atms-network-section .inner-countries-tab-content {
  margin-top: 1.9rem;
}

.branches-atms-network-section .inner-countries-tab-content .filters-section {
  padding: 0.7rem 1.2rem;
  background-color: var(--white-color);
}

.branches-atms-network-section
  .inner-countries-tab-content
  .filters-section
  .search-wrapper {
  position: relative;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .filters-section
  .search-input {
  padding-inline-start: 2.2rem;
  padding-inline-end: 1rem;
  padding-block: 13px !important;
  outline: 1px solid;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color) !important;
  background-color: var(--white-color) !important;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .filters-section
  .search-input::placeholder {
  color: rgb(87 87 86 / 50%) !important;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .filters-section
  .search-icon {
  position: absolute;
  inset-inline-start: 0.85rem;
  inset-block-start: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 0.9rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .filters-section
  .reset-btn
  picture
  img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(2983%)
    hue-rotate(198deg) brightness(101%) contrast(86%);
}

/* details card */
.branches-atms-network-section .inner-countries-tab-content .atm-card {
  background-color: var(--white-color);
  border: 1px solid;
  padding: 1.2rem 1rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-coordinates
  span {
  padding-inline: 1rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-coordinates
  span:first-child {
  border-inline-end: 1px solid var(--gray-color);
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-coordinates
  span:last-child {
  padding-inline-end: 0;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-map-link
  h6 {
  color: var(--pink-color);
  text-decoration: underline !important;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-map-link:hover {
  color: rgb(255 0 140 / 95%);
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card
  .atm-card-info
  .atm-card-info-divider {
  width: 100%;
  height: 1px;
}

.branches-atms-network-section .inner-countries-tab-content .atm-card-services {
  border: 1px solid;
  background-color: rgb(241 243 245 / 60%);
  padding-bottom: 0.9rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-services-header {
  border-bottom: 1px solid;
  padding: 0.6rem 1.1rem;
  margin-bottom: 0.9rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-services-header
  h4 {
  color: var(--primary-color);
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-services-body {
  padding: 0 1.1rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .atm-card-services-body
  .cms-content
  blockquote
  ul {
  padding-inline-start: 1rem;
}

/* Branches Details Card */
.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card
  .atm-card-title
  .alert-badge {
  border: 1px solid var(--red-color);
  padding: 0.2rem 0.5rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card
  .atm-card-title
  .alert-badge
  span {
  color: var(--red-color);
  font-size: 0.95rem;
  font-weight: 600;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card
  .alert-badge
  picture
  img {
  width: 1.25rem;
  height: 1.25rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card
  .branch-card-info {
  border: 1px solid;
  background-color: rgb(241 243 245 / 60%);
  padding: 0.25rem 0.8rem 0.9rem 0.8rem;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card
  .branch-card-info
  .branch-card-info-header {
  border-bottom: 1px solid;
  padding: 0.6rem 0;
  margin-bottom: 0.8rem;
  text-align: center;
}

.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card
  .bottom-card-info
  .separated-info
  h6:not(:last-child)::after {
  content: "|";
  color: var(--gray-color);
  margin: 0 0.5rem;
  vertical-align: middle;
}

@media (min-width: 575.98px) {
  .branches-atms-network-section
    .inner-countries-tab-content
    .branches-tab
    .atm-card-info.bottom-card-info
    .row
    > .separated-info-col:nth-child(odd)
    .separated-info {
    justify-content: flex-end;
  }

  .branches-atms-network-section
    .inner-countries-tab-content
    .branches-tab
    .atm-card-info.bottom-card-info
    .row
    > .separated-info-col:nth-child(even)
    .separated-info {
    justify-content: flex-start;
  }
}

.branches-atms-network-section
  .inner-countries-tab-content
  .branches-tab
  .atm-card-info.bottom-card-info
  .row
  > .separated-info-col
  .separated-info {
  justify-content: center;
}


/* Start Cms Content */
.cms-content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 0.25rem;
  margin-bottom: 0;
  padding-inline-start: 1.1rem;
}

.cms-content ul li {
  list-style: disc;
  color: var(--gray-color);
  text-align: start;
}

.cms-content ul li::marker {
  color: var(--gray-color) !important;
  font-size: 0.7rem;
}

@media (max-width: 1199.98px) {
  .cms-content ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .cms-content ul {
    grid-template-columns: 1fr;
  }
}

/* End Cms Content */