/* Global */
/* Additional Colors variables */
:root {
  --primary-color-op-95: rgb(89 92 163 / 95%);
  --primary-color-op-70: rgb(89 92 163 / 70%);
  --primary-color-op-50: rgb(89 92 163 / 50%);
  --primary-color-op-40: rgb(89 92 163 / 40%);
  --gray-color-op-50: rgb(87 87 86 / 50%);
  --gray-color-op-30: rgb(87 87 86 / 30%);
  --gray-color-op-25: rgb(87 87 86 / 25%);
  --green-color: #008000;
  --red-color: #ff0000;
  --red-color-op-25: rgb(255 0 0 / 25%);
  --radius-full: 999px;
}

/* Global classes */
.bg-primary-color-op-20 {
  background-color: rgb(89 92 163 / 10%) !important;
}

.radius-6 {
  border-radius: 6px !important;
}

.radius-8 {
  border-radius: 8px !important;
}

/* Global classes */

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 0.85rem 1.6rem;
  border-radius: var(--radius-full);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.3s ease;
}

.primary-btn span {
  font-size: unset;
  font-weight: unset;
}

.primary-btn picture img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(91deg) brightness(102%) contrast(105%);
  width: 1.6rem;
  height: 1.6rem;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--primary-color-op-95);
}

/* Hero Section */
.hero-section {
  padding: 1.9rem 0;
}

/* Hero Section */

/* Pagination */
.pagination-wrapper {
  padding-bottom: 1rem;
}

.pagination-wrapper .pagination {
  gap: 12px !important;
}

.pagination-container .page-item {
  width: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  aspect-ratio: 1;
  transition: all 0.3s ease-out;
}

.pagination-container .page-item .page-link {
  padding: 0;
  font-size: 0.95rem;
  font-weight: 700;
  width: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;
  border: 1px solid var(--gray-color-op-25);
  background: transparent;
  color: var(--primary-color);
  transition: all 0.2s ease-out;
  border-radius: 50%;
}

.pagination-container .page-item .page-link:hover {
  border-color: var(--primary-color);
  border-width: 2px;
  background-color: var(--white-color);
}

.pagination-container .page-item,
.pagination-container .page-item.active {
  position: relative;
}

.pagination-container .page-item .page-link .caret-left-rotate {
  transform: rotate(180deg);
}

.pagination-container .page-item.active .page-link {
  border-color: var(--primary-color);
  border-width: 2px;
  background-color: var(--white-color);
}

.arabic-version
  .pagination-container
  .page-item:not(:first-child):not(:last-child):hover::before,
.arabic-version .pagination-container .page-item::before {
  inset-inline-start: 0;
}

.arabic-version .pagination-container .page-item:last-of-type .page-link,
.arabic-version .pagination-container .page-item:nth-child(1) .page-link {
  transform: scale(-1);
}

.pagination-container .page-item:nth-child(1) .page-link,
.pagination-container .page-item:last-of-type .page-link {
  background-color: var(--primary-color);
  border-color: transparent;
  color: var(--white-color);
}

.pagination-container .page-item:nth-child(1) .page-link:hover,
.pagination-container .page-item:last-of-type .page-link:hover {
  background: var(--primary-color-op-95);
}

.pagination-container .page-item:last-of-type .page-link {
  color: var(--white-color);
}

.pagination-container .page-item .page-link.page-disabled {
  background-color: rgba(89 92 163 / 50%);
  pointer-events: none;
}

@media (max-width: 575px) {
  .pagination-container .page-item .page-link {
    width: 2.8rem;
  }
}

@media (max-width: 350px) {
  .pagination-container {
    gap: 0.5rem;
  }
}

@media (max-width: 575.8889px) {
  .pagination-container .page-item:nth-child(3),
  .pagination-container .page-item:nth-child(4) {
    display: none;
  }
}

/* Pagination */

/* Rows per page + info (under table) */
.rows-info {
  font-size: 0.85rem;
}
.rows-info h6 span {
  color: var(--gray-color);
  font-size: unset;
  font-weight: unset;
}

.rows-info .pages-numbers {
  border-inline-end: 1px solid var(--gray-color);
  padding-inline-end: 0.65rem;
}
.rows-info .pages-number-text {
  padding-inline-start: 0.65rem;
}
.rows-select {
  padding-inline-start: 0.25rem !important;
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--gray-color);
  background-color: transparent;
  background-image: url("../assets/icons/Arrow_drop_left.svg");
  background-position: left 0.65rem center;
  background-size: 1.5rem;
}

.rows-select:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

/* Cms Content */
.cms-content blockquote {
  margin-bottom: 0;
}

.cms-content blockquote ul {
  column-count: 3;
  column-gap: 2.5rem;
  margin-bottom: 0;
  padding-inline-start: 2.1rem;
}

.cms-content blockquote ul li {
  list-style: disc;
  color: var(--gray-color);
}

.cms-content blockquote ul li::marker {
  color: var(--gray-color) !important;
  font-size: 0.7rem;
}

@media (max-width: 991.98px) {
  .cms-content blockquote ul {
    column-count: 2;
  }
}

@media (max-width: 767.98px) {
  .cms-content blockquote ul {
    column-count: 1;
  }
}

/* Cms Content */

/* Global */

/* Contact Info Section */
.contact-info-section .search-wrapper {
    position: relative;
}

.contact-info-section .search-input {
    padding-inline-start: 2.2rem;
    padding-inline-end: 1rem;
    padding-block: 13px !important;
    outline: 1px solid var(--gray-color-op-25) !important;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color) !important;
    min-width: 265px;
}

.contact-info-section .search-input::placeholder {
    color: var(--gray-color-op-50) !important;
}

.contact-info-section .search-icon {
    position: absolute;
    inset-inline-start: 0.85rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 0.9rem;
}

/* Permissions table */
.contact-info-section .table-wrapper {
    overflow-x: auto;
    border: 1px solid var(--gray-color-op-25);
}

.contact-info-section .table thead th {
    color: var(--white-color) !important;
    background-color: var(--primary-color);
    border-inline-end: 1px solid rgb(255 255 255 / 25%);
    border-bottom-color: var(--gray-color-op-25);
    padding-inline: 1rem;
    padding-block: 12px;
    text-wrap: nowrap;
}

.contact-info-section .table thead th:last-child {
    border-inline-end: none;
}

.contact-info-section .table .sort-wrapper picture img {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(17%) hue-rotate(251deg) brightness(104%) contrast(105%);
}

.contact-info-section .table tbody tr td {
    border-bottom: 1px solid var(--gray-color-op-25);
    border-inline-end: 1px solid var(--gray-color-op-25);
    padding-inline: 1rem;
    padding-block: 12px;
}

.contact-info-section .table tbody tr:last-child td {
    border-bottom: none;
}

.contact-info-section .table tbody tr td:last-child {
    border-inline-end: none;
}

.contact-info-section .name-col {
    white-space: nowrap;
}

.contact-info-section .table th:last-child,
.contact-info-section .table td:last-child {
    width: 15%;
    white-space: nowrap;
}
/* Contact Info Section */
