/* Contact Info Section */
.contact-info-section {
    min-height: 100vh;
}

.contact-info-section .search-wrapper {
    position: relative;
}

.contact-info-section .search-input {
    padding-inline-start: 2.2rem;
    padding-inline-end: 1rem;
    padding-block: 13px !important;
    outline: 1px solid;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color) !important;
    min-width: 265px;
}

.contact-info-section .search-input::placeholder {
    color: rgb(87 87 86 / 50%) !important;
}

.contact-info-section .search-icon {
    position: absolute;
    inset-inline-start: 0.85rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 0.9rem;
}

/* table */
.contact-info-section .table-wrapper {
    overflow-x: auto;
    border: 1px solid;
}

.contact-info-section .table thead th {
    color: var(--white-color) !important;
    background-color: var(--primary-color);
    border-inline-end: 1px solid rgb(255 255 255 / 25%) !important;
    padding-inline: 1rem;
    padding-block: 12px;
    text-wrap: nowrap;
}

.contact-info-section .table thead th:last-child {
    border-inline-end: none !important;
}

.contact-info-section .table .sort-wrapper picture img {
    cursor: pointer;
    filter: var(--filter-white);
}

.contact-info-section .table tbody tr td {
    border-bottom: 1px solid;
    border-inline-end: 1px solid;
    padding-inline: 1rem;
    padding-block: 12px;
}

.contact-info-section .table tbody tr:last-child td {
    border-bottom: none;
}

.contact-info-section .table tbody tr td:last-child {
    border-inline-end: none;
}

.contact-info-section .name-col {
    white-space: nowrap;
}

.contact-info-section .table th:last-child,
.contact-info-section .table td:last-child {
    width: 15%;
    white-space: nowrap;
}
/* Contact Info Section */
