.top-nav .search-wrapper {
  position: relative;
}

.top-nav .search-input {
  padding-inline-start: 2.2rem;
  padding-inline-end: 1rem;
  padding-block: 10px !important;
  outline: 1px solid rgb(87 87 86 / 60%) !important;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--gray-color) !important;
  min-width: 265px;
  background-color: var(--white-color) !important;
  border-radius: 4px;
}

.top-nav .search-input::placeholder {
  color: rgb(87 87 86 / 60%) !important;
}

.top-nav .search-icon {
  position: absolute;
  inset-inline-start: 0.85rem;
  inset-block-start: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 0.9rem;
}

.bar-icon {
  position: relative;
  z-index: 2;
}

.top-nav-tools > li:not(:last-child) {
  position: relative;
}

.top-nav-tools > li:not(:last-child)::before {
  content: "";
  width: 0.5px;
  height: 25px;
  background: var(--gray-color);
  position: absolute;
  inset-inline-end: -6px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-nav-tools .icon-nav {
  cursor: pointer;
}

.top-nav-tools .search-btn i {
  font-size: 1.5rem;
}

.top-nav .search-container picture {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: 1rem;
  width: 2rem;
  height: 2rem;
}

.top-nav .search-container .form-control {
  padding-inline-start: 2.5rem;
}

/* Search Container */
.searchBarOpen {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  top: -120%;
  width: 100%;
  height: 100vh;
  display: flex;
}

.searchBarOpen.active {
  top: 0;
}

.searchBarOpen--input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 0.5rem;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.searchBarOpen--input input {
  padding: 0 0.8rem !important;
  caret-color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  background: transparent;
  border: 1px solid#fff;
  color: #fff;
  flex: 1;
  border: 0;
  min-width: 100px;
}

.searchBarOpen--input input:focus {
  border: 0;
  outline: unset;
}

.searchBarOpen--input input::placeholder {
  color: rgb(255 255 255 / 80%);
}

.searchBarOpen--input button {
  border-radius: 50px;
  align-self: flex-start;
  padding: 0.8rem 1.5rem;
  background: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchBarOpen--input button:hover {
  background: #e0e0e0;
}

.searchBarOpen--input button:hover i {
  color: var(--primary-color) !important;
}

.searchBarOpen--closeBtn {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.searchBarOpen--closeBtn:hover {
  transform: scale(1.2);
}

/* Notification */
.navbar-tools .bell {
  position: relative;
}

.notifications-container {
  position: absolute;
  width: 500px;
  background-color: var(--white-color);
  border: 1px solid rgb(87 87 86 / 20%);
  z-index: 9999;
  inset-inline-end: 50%;
  top: 130%;
  inset-inline-end: 0;
  max-height: 670px;
  overflow-y: auto;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}

.notifications-container.open {
  top: 130%;
  opacity: 1;
  transform: translate(0);
  pointer-events: visible;
}

.notifications-container .form-switch {
  padding-left: unset;
  padding-inline-end: 2.5rem;
  gap: 0.5rem !important;
  margin-bottom: 0;
}

.notifications-container .form-switch .form-check-input {
  background-color: rgb(87 87 86 / 12%);
  border-color: rgb(87 87 86 / 50%) !important;
  --bs-form-switch-bg: url("../assets/icons/dot.svg");
  width: 2.4rem;
  margin-left: unset;
  margin-inline-end: -2.5rem;
}

.arabic-version .notifications-container .form-switch .form-check-input {
  background-position: right center;
}

.notifications-container .form-switch .form-check-input:checked {
  background-color: var(--primary-color);
  border: 1px solid rgb(89 92 163 / 50%) !important;
  --bs-form-switch-bg: url("../assets/icons/dot-secondary.svg");
}

.arabic-version
  .notifications-container
  .form-switch
  .form-check-input:checked {
  background-position: left center;
}

.notifications-container .notification-card {
  position: relative;
  border-bottom: var(--main-border);
  cursor: pointer;
}

.notifications-container .notification-card:last-child {
  border: 0;
}

.notifications-container .notification-card.active,
.notifications-container .notification-card:hover {
  background-color: var(--primary-color-op);
}

.notifications-container .notification-card .notification-content {
  padding-inline-end: 1.25rem;
}

.notifications-container .notification-card .notification-title {
  color: var(--primary-color);
}

.notifications-container i {
  font-size: 10px;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  inset-inline-end: 0;
  color: var(--primary-color);
}

/* Tools */
.navbar-tools .tools-btn {
  position: relative;
}

.tools-container {
  position: absolute;
  width: 380px;
  background-color: var(--white-color);
  border: 1px solid rgb(87 87 86 / 20%);
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  z-index: 9999;
  inset-inline-end: 50%;
  top: 100%;
  inset-inline-end: 100px;
  height: fit-content;
  overflow-y: auto;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}

.tools-container.open {
  top: 100%;
  opacity: 1;
  transform: translate(0);
  pointer-events: visible;
}

.tools-container .tool-card {
  position: relative;
  border-bottom: var(--main-border);
  cursor: pointer;
}

.tools-container .tool-card:last-child {
  border: 0;
}

.tools-container .form-switch {
  padding-left: unset;
  padding-inline-end: 2.5rem;
  gap: 0.5rem !important;
  margin-bottom: 0;
}

.tools-container .form-switch .form-check-input {
  background-color: rgb(87 87 86 / 12%);
  border-color: rgb(87 87 86 / 50%) !important;
  --bs-form-switch-bg: url("../assets/icons/dot.svg");
  width: 2.4rem;
  margin-left: unset;
  margin-inline-end: -2.5rem;
}

.arabic-version .tools-container .form-switch .form-check-input {
  background-position: right center;
}

.tools-container .form-switch .form-check-input:checked {
  background-color: var(--primary-color);
  border: 1px solid rgb(89 92 163 / 50%) !important;
  --bs-form-switch-bg: url("../assets/icons/dot-secondary.svg");
}

.arabic-version .tools-container .form-switch .form-check-input:checked {
  background-position: left center;
}

@media (max-width: 767.98px) {
  .notifications-container {
    width: 80vw;
    max-height: 460px;
    top: -360px;
  }

  .notifications-container.open {
    inset-inline-start: auto;
    inset-inline-end: -24px;
    top: 150%;
  }

  .tools-container {
    width: 60vw;
    top: -360px;
  }

  .tools-container.open {
    inset-inline-start: auto;
    inset-inline-end: 80px;
  }

  .notifications-container i {
    font-size: 10px;
  }

  .logo-container picture img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .top-nav-tools .icon-nav picture img {
    width: 2rem;
    height: 2rem;
  }

  .top-nav-tools .search-btn i {
    font-size: 1rem;
  }
}

@media (max-width: 575.98px) {
  .tools-container {
    width: 80vw;
  }

  .tools-container.open {
    inset-inline-end: 20px;
  }

  .top-nav-tools > li:not(:last-child)::before {
    inset-inline-end: -4px;
  }
}

@media (max-width: 400px) {
  .logo-container h5 {
    font-size: 0.9rem;
  }
}
