.header-image-section.header-slider .header-image::before {
    background: linear-gradient(to right, #00000000, #0000004D);
}

.header-image-section .swiper-slide {
  position: relative;
}
.header-image-section .controls-container {
    position: absolute;
    bottom: 0;
}

.header-image-section .controls-container .header-swiper-pagination {
  margin-bottom: 1.3rem;
}

.header-image-section .controls-container .header-swiper-pagination .swiper-pagination-bullet {
    background-color: var(--white-color) !important;
}

.header-image-section .controls-container .header-swiper-pagination .swiper-pagination-bullet-active {
    transform: scale(1.3) !important;
}

.header-image-section .controls-container .header-swiper-button-prev i,
.header-image-section .controls-container .header-swiper-button-next i {
    font-size: 1.25rem;
    color: var(--white-color);
}

.header-image-section .controls-container .swiper-pause-btn {
    border: 3px solid var(--white-color);
    padding: 10px;
    border-radius: var(--radius-full);
    background-color: transparent;
    color: var(--white-color);
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
    z-index: 1;
}

.header-image-section .controls-container .swiper-pause-btn img,
.header-image-section .controls-container .swiper-pause-btn i {
    width: 24px;
    height: 24px;
    min-width: 24px;
}

@media (max-width: 991.98px) {
    .header-image-section.header-slider .header-image img {
        min-height: 300px;
    }
}