/* Policies Procedures Section */
.policies-procedures-section {
    padding: 1.9rem 0;
}

/* Custom radio for all browsers using pseudo-elements */
.policies-procedures-section .tab-radio-item .tab-radio-input[type="radio"]:checked {
    border-color: var(--primary-color);
}

.policies-procedures-section .tab-radio-item .tab-radio-input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--gray-color);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s;
}
.policies-procedures-section .tab-radio-item .tab-radio-input[type="radio"]:checked::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.65rem;
    height: 0.65rem;
    background: var(--primary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.policies-procedures-section .tab-radio-item {
    cursor: pointer;
}

.policies-procedures-section .tab-radio-item h5 {
    color: var(--gray-color);
}

/* Permissions table */
.policies-procedures-section .table-wrapper {
    overflow-x: auto;
    border: 1px solid;
}

.policies-procedures-section .table thead th {
    color: var(--primary-color);
    border-inline-end: 1px solid;
    padding-inline: 1rem;
    padding-block: 12px;
}

.policies-procedures-section .table thead th:last-child {
    border-inline-end: none;
}

.policies-procedures-section .permissions-search-wrapper {
    position: relative;
}

.policies-procedures-section .permissions-search-input {
    padding-inline-start: 2.2rem;
    padding-inline-end: 1rem;
    outline: 1px solid;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color) !important;
    min-width: 265px;
    background-color: var(--white-color) !important;
    outline: 1px solid rgb(89 92 163 / 70%) !important;
}

.policies-procedures-section .permissions-search-input::placeholder {
    color: rgb(89 92 163 / 70%) !important;
}

.policies-procedures-section .permissions-search-icon {
    position: absolute;
    inset-inline-start: 0.85rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 0.9rem;
}

.policies-procedures-section .permissions-search-icon picture img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(15%) saturate(1681%) hue-rotate(199deg) brightness(102%) contrast(92%);
}

.policies-procedures-section .table .sort-wrapper picture img {
    cursor: pointer;
}

.policies-procedures-section .table tbody tr td {
    border-bottom: 1px solid;
    border-inline-end: 1px solid;
    padding-inline: 1rem;
    padding-block: 12px;
}

.policies-procedures-section .table tbody tr:last-child td {
    border-bottom: none;
}

.policies-procedures-section .table tbody tr td:last-child {
    border-inline-end: none;
}

.policies-procedures-section .name-col {
    white-space: nowrap;
}

.policies-procedures-section .table th:last-child,
.policies-procedures-section .table td:last-child {
    width: 15%;
    white-space: nowrap;
}

