:root {
    --primary-color: #595CA3;
    --secondary-color: #00A897;
    --pink-color: #FF008B;
    --gray-color: #575756;
    --iskan-color: #005295;
    --white-color: #FFFFFF;
    --iskanovators-color: #B79977;
    --bg-body: #F1F3F5;
    --green-color: #008000;
    --red-color: #ff0000;
    --font-family: 'Noto Kufi Arabic';
    --line-height: 1.8rem;
    --title-line-height: 3rem;
    --main-border: 1px solid #57575640;
    --radius-full: 999px;
    --filter-white: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
}

/* Font Family */
@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-Black.eot');
    src: url('/assets/font/NotoKufiArabic-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-Black.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-Black.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-Black.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-Black.svg#NotoKufiArabic-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-Bold.eot');
    src: url('/assets/font/NotoKufiArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-Bold.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-Bold.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-Bold.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-Bold.svg#NotoKufiArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-ExtraBold.eot');
    src: url('/assets/font/NotoKufiArabic-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-ExtraBold.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-ExtraBold.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-ExtraBold.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-ExtraBold.svg#NotoKufiArabic-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-ExtraLight.eot');
    src: url('/assets/font/NotoKufiArabic-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-ExtraLight.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-ExtraLight.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-ExtraLight.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-ExtraLight.svg#NotoKufiArabic-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-Light.eot');
    src: url('/assets/font/NotoKufiArabic-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-Light.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-Light.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-Light.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-Light.svg#NotoKufiArabic-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-Medium.eot');
    src: url('/assets/font/NotoKufiArabic-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-Medium.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-Medium.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-Medium.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-Medium.svg#NotoKufiArabic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-Regular.eot');
    src: url('/assets/font/NotoKufiArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-Regular.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-Regular.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-Regular.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-Regular.svg#NotoKufiArabic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-SemiBold.eot');
    src: url('/assets/font/NotoKufiArabic-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-SemiBold.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-SemiBold.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-SemiBold.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-SemiBold.svg#NotoKufiArabic-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/assets/font/NotoKufiArabic-Thin.eot');
    src: url('/assets/font/NotoKufiArabic-Thin.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoKufiArabic-Thin.woff2') format('woff2'),
        url('/assets/font/NotoKufiArabic-Thin.woff') format('woff'),
        url('/assets/font/NotoKufiArabic-Thin.ttf') format('truetype'),
        url('/assets/font/NotoKufiArabic-Thin.svg#NotoKufiArabic-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--gray-color);
    background-color: var(--bg-body);
}

html {
    scroll-behavior: smooth;
}

html,
body,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    font-feature-settings: "liga" 1, "kern" 0;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin: 5px 0px; */
}

th,
td {
    color: var(--primary-color) !important;
}

ul li {
    list-style: none;
}

ul li::marker {
    color: var(--primary-color);
}

.arabic-version {
    direction: rtl;
}

@media (min-width: 2030px) {
    :root {
        --container-width: 80vw;
    }

    html {
        font-size: 18px;
    }
}

@media (min-width: 1600px) and (max-width: 2030px) {
    :root {
        --container-width: 80vw;
    }

    html {
        font-size: 17px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    :root {
        --container-width: 1140px;
    }
}

@media (max-width:1199.98px) {
    :root {
        --container-width: 960px;
    }

    html {
        font-size: 15px;
    }
}

@media (max-width:991.98px) {
    :root {
        --container-width: 720px;
    }

    html {
        font-size: 15px;
    }
}

@media (max-width:767.98px) {
    :root {
        --container-width: 540px;
    }

}

@media (max-width:575.98px) {
    :root {
        --container-width: 100vw;
    }

}

@media (min-width: 1600px) {
    .container-fluid {
        max-width: 90%;
    }

    .container {
        max-width: 80%;
    }

    .container .container,
    .container-fluid .container {
        max-width: 100%;
    }
}

h1 {
    font-size: 40px;
    line-height: var(--title-line-height);
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

p,
h6 {
    font-size: .9rem;
    text-align: justify;
}

p {
    text-align: justify;
}

span,
.card-date {
    font-size: .9rem;
    font-weight: 500;
}

th {
    font-size: .9rem;
}

a {
    text-decoration: none;
}

label {
    color: var(--primary-color);
    font-weight: 500;
}

ul {
    list-style: disc;
    padding-left: unset;
    padding-inline-start: 2rem;
}

/* Webkit box  */
.only-1-lines {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1* var(--line-height) + 2px);
}

.only-2-lines {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2* var(--line-height) + 2px);
}

.title-only-2-lines {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2* var(--title-line-height) + 2px);
}

.only-3-lines {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(3* var(--line-height) + 2px);
}

.only-4-lines {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(4* var(--line-height) + 2px);
}

.default-image-class {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cover-image-class {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Default Classes */
.text-primary-color {
    color: var(--primary-color) !important;
}

.text-secondary-color {
    color: var(--secondary-color) !important;
}

.text-pink-color {
    color: var(--pink-color) !important;
}

.text-gray-color {
    color: var(--gray-color) !important;
}

.text-iskan-color {
    color: var(--iskan-color) !important;
}

.text-white-color {
    color: var(--white-color) !important;
}

.text-iskanovators-color {
    color: var(--iskanovators-color) !important;
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.bg-secondary-color {
    background-color: var(--secondary-color) !important;
}

.bg-pink-color {
    background-color: var(--pink-color) !important;
}

.bg-gray-color {
    background-color: var(--gray-color) !important;
}

.bg-iskan-color {
    background-color: var(--iskan-color) !important;
}

.bg-white-color {
    background-color: var(--white-color) !important;
}

.bg-iskanovators-color {
    background-color: var(--iskanovators-color) !important;
}

.bg-primary-color-op-10 {
    background-color: rgb(89 92 163 / 10%) !important;
}

.bg-primary-color-op-50 {
    background-color: rgb(89 92 163 / 50%) !important;
}

.bg-primary-color-op-70 {
    background-color: rgb(89 92 163 / 70%) !important;
}

.bg-secondary-color-op-10 {
    background-color: #00A8971A !important;
}

.bg-red-color-op-25 {
    background-color: rgb(255 0 0 / 25%) !important;
}

/* border & outline color classes */
.border-primary-color-op-50 {
    border-color: rgb(89 92 163 / 50%) !important;
}

.border-primary-color-op-40 {
    border-color: rgb(89 92 163 / 40%) !important;
}

.border-gray-color-op-30 {
    border-color: rgb(87 87 86 / 30%) !important;
}

.border-gray-color-op-25 {
    border-color: rgb(87 87 86 / 25%) !important;
}

.outline-primary-color-op-70 {
    outline-color: rgb(89 92 163 / 70%) !important;
}

.outline-gray-color-op-25 {
    outline-color: rgb(87 87 86 / 25%) !important;
}

.w-fit {
    width: fit-content !important;
}

.radius-5 {
    border-radius: 5px;
}

.radius-6 {
    border-radius: 6px !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.radius-10 {
    border-radius: 10px;
}

.arabic-version .fa-arrow-right,
.arabic-version .fa-arrow-left {
    scale: -1;
}

.pattern-tab {
    background-image: url('/assets/images/album-pattern.png');
    background-size: cover;
    background-position: center center;
}

.album-environment.pattern-tab {
    background:
        linear-gradient(180deg, #F3F5F7 0%, rgba(243, 245, 247, 0) 100%),
        url('/assets/images/album-pattern.png') center center / cover no-repeat;
}

/* Buttons */
.primary-btn,
.secondary-btn,
.iskan-btn,
.iskanovators-btn {
    background-color: var(--primary-color);
    border-radius: 50px;
    color: var(--white-color);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.secondary-btn {
    background-color: var(--secondary-color);
}

.iskan-btn {
    background-color: var(--iskan-color);
}

.iskanovators-btn {
    background-color: var(--iskanovators-color);
}

/* Start Hero Section */
.hero-section {
    padding: 1.9rem 0;
}

/* End Hero Section */

/* Start Header Images */
.header-image-section .header-image-container {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.header-image-section .header-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #00000099;
    z-index: 1;
}

@media (max-width: 991.98px) {
    .header-image-section .header-image img {
        min-height: 90svh;
        object-fit: cover;
    }
}

@media (max-width: 575.98px) {
    .header-image-section .header-image img {
        min-height: 70svh;
        object-fit: cover;
    }
}

/* Start Section Links */
.section-links-container {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.title-link {
    flex: 0 0 auto;
    position: relative;
}

.section-links .title-link.active {
    color: var(--primary-color) !important;
}

.section-links.iskan-section-links .title-link.active {
    color: var(--iskan-color) !important;
}

.section-links.iskanovators-section-links .title-link.active {
    color: var(--iskanovators-color) !important;
}

.section-links .title-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--primary-color);
}

.section-links.iskan-section-links .title-link.active::before {
    background-color: var(--iskan-color);
}

.section-links.iskanovators-section-links .title-link.active::before {
    background-color: var(--iskanovators-color);
}


/* Start Reels Section */
.reels-section .reels-section-container {
    display: flex;
    gap: 20px;
}

.reels-section .reels-section-container a {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.reels-section a {
    border: 5px solid var(--primary-color);
}

.reels-section.iskan-reels-section a {
    border-color: var(--iskan-color);
}

.reels-section .reels-section-container a::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #00000066;
    transition: opacity 0.3s ease;
}

.reels-section .reels-section-container {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.reels-section .reels-section-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reels-section .reels-section-container .play-icon {
    background-color: #FFFFFF59;
    width: 45px;
    height: 45px;
}

/* End Reels Section */
/* Start Grid Container Section */
.grid-container-section .grid-container-item {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.grid-container-section .grid-container-item>div {
    flex: 1;
}

.grid-container-section .grid-container-item:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 991.98px) {
    .grid-container-section .grid-container-item {
        flex-direction: column;
    }
}

/* End Grid Container Section */
/* Start Cards Section */
.card-with-video .video-popup {
    display: flex;
    position: relative;
}

.card-with-video .video-popup::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #00000066;
    transition: opacity 0.3s ease;
}

.card-with-video .video-popup .play-icon {
    background-color: #FFFFFF59;
    width: 45px;
    height: 45px;
}

/* End Cards Section */
/* Start Ads Section */
.ads-section .close-ads {
    position: absolute;
    inset-inline-start: 5px;
    transform: translate(-50%, -50%);
    top: 20px;
}

.ads-section .close-ads i {
    font-size: 14px;
}

/* End Ads Section */
/* Start Album Tabs */
.albums-tabs {
    flex-wrap: nowrap;
    overflow-x: auto !important;
}

.albums-tabs .nav-link {
    position: relative;
    border: 0;
    flex: 0 0 auto;
}

.albums-tabs .nav-link.active {
    border: 0;
}

.albums-tabs-primary-section .albums-tabs .nav-link.active {
    color: var(--primary-color) !important;
}

.albums-tabs-iskan-section .albums-tabs .nav-link.active {
    color: var(--iskan-color) !important;
}

.albums-tabs .nav-link {
    color: var(--gray-color);
}

.albums-tabs .nav-link.active::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: var(--primary-color);
}

.albums-tabs-iskan-section .albums-tabs .nav-link.active::before {
    background-color: var(--iskan-color);
}

.albums-tabs .nav-link.active,
.albums-tabs .nav-item:focus-visible {
    outline: 0;
    border-color: transparent;
}

.albums-tabs .nav-item:not(:last-child) .nav-link {
    border-inline-end: var(--main-border) !important;
}

/*  End Album Tabs */
/* Start Media Card */
.media-card a {
    color: var(--gray-color);
}

/* End Media Card */
/* Start Footer */
footer {
    background-color: #595CA380;
}

/* End Footer */

/* Swiper */
.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next svg,
.swiper-button-prev svg {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    opacity: .5;
    background-color: var(--gray-color) !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--primary-color) !important;
}


.arabic-version .swiper-control-container {
    flex-direction: row-reverse;
}

/* Swiper */
/* Start Single News */


.single-news-section .single-news-content {
    position: absolute;
    transform: translateY(-50%);
    width: var(--container-width);
    top: 50%;
    max-width: 515px;
}

@media (max-width: 767.98px) {
    .single-news-section .single-news-banner img {
        height: 50svh;
    }

    .single-news-section .single-news-content {
        transform: translate(-50%, -50%);
        left: 50%;
        width: 90vw;
    }
}

/* End Single News */
/* Start Faqs Section */

.faqs-section {
    padding: var(--section-padding);
}

.faqs-section .accordion {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqs-section .accordion-item {
    overflow: hidden;
    border: 0;
}

.faqs-section .accordion-item button {
    background-color: var(--white-color);
}

.faqs-section .accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
    box-shadow: unset !important;
    border: var(--secondary-border) !important;
}

.faqs-section.iskanovators-faqs-section .accordion-button:not(.collapsed) {
    background-color: var(--iskanovators-color);
}

.faqs-section .accordion-button:not(.collapsed) h6 {
    color: var(--white-color);
}

.faqs-section .accordion-button:focus {
    box-shadow: unset !important;
}

.faqs-section .accordion-button::after {
    background-image: url('../assets/icons/plus.svg') !important;
}

.faqs-section .accordion-button:not(.collapsed)::after {
    background-image: url('../assets/icons/minus.svg') !important;
    transform: rotate(0deg);
    filter: var(--filter-white) !important;
}

.arabic-version .faqs-section .accordion-button::after {
    margin-right: auto;
    margin-left: unset;
}

.accordion-button {
    padding: 10px;
}

.contest-trip-section.faqs-section .accordion-item button,
.contest-trip-section.faqs-section .accordion-item {
    background-color: transparent;
}

.contest-trip-section .main-title-section,
.contest-trip-section.faqs-section .accordion-item .accordion-header {
    border-bottom: var(--main-border);
}

.contest-trip-section.faqs-section .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.contest-trip-section.faqs-section .accordion-button:not(.collapsed) h4 {
    color: var(--iskanovators-color) !important;
}

.contest-trip-section.faqs-section .accordion-button:not(.collapsed)::after {
    filter: brightness(0) saturate(100%) invert(71%) sepia(31%) saturate(378%) hue-rotate(352deg) brightness(85%) contrast(81%) !important;
}

/*  End Faqs Section */
/* Start Add Space Section */
.add-space-section .add-space-container {
    max-width: 70%;
}

@media (max-width: 767.98px) {
    .add-space-section .add-space-container {
        max-width: var(--container-width);
    }
}

/* End Add Space Section */

/* Start Pagination */
.pagination-wrapper {
    padding-bottom: 1rem;
}

.pagination-wrapper .pagination {
    gap: 12px !important;
}

.pagination-container .page-item {
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    aspect-ratio: 1;
    transition: all 0.3s ease-out;
}

.pagination-container .page-item .page-link {
    padding: 0;
    font-size: 0.95rem;
    font-weight: 700;
    width: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    outline: none;
    border: 1px solid rgb(87 87 86 / 25%);
    background: transparent;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
    border-radius: 50%;
}

.pagination-container .page-item .page-link:hover {
    border-color: var(--primary-color);
    border-width: 2px;
    background-color: var(--white-color);
}

.pagination-container .page-item,
.pagination-container .page-item.active {
    position: relative;
}

.pagination-container .page-item .page-link .caret-left-rotate {
    transform: rotate(180deg);
}

.pagination-container .page-item.active .page-link {
    border-color: var(--primary-color);
    border-width: 2px;
    background-color: var(--white-color);
}

.arabic-version .pagination-container .page-item:not(:first-child):not(:last-child):hover::before,
.arabic-version .pagination-container .page-item::before {
    inset-inline-start: 0;
}

.arabic-version .pagination-container .page-item:last-of-type .page-link,
.arabic-version .pagination-container .page-item:nth-child(1) .page-link {
    transform: scale(-1);
}

.pagination-container .page-item:nth-child(1) .page-link,
.pagination-container .page-item:last-of-type .page-link {
    background-color: var(--primary-color);
    border-color: transparent;
    color: var(--white-color);
}

.pagination-container .page-item:last-of-type .page-link {
    color: var(--white-color);
}

.pagination-container .page-item .page-link.page-disabled {
    background-color: rgba(89 92 163 / 50%);
    pointer-events: none;
}

@media (max-width: 575px) {
    .pagination-container .page-item .page-link {
        width: 2.8rem;
    }
}

@media (max-width: 350px) {
    .pagination-container {
        gap: 0.5rem;
    }
}

@media (max-width: 575.8889px) {

    .pagination-container .page-item:nth-child(3),
    .pagination-container .page-item:nth-child(4) {
        display: none;
    }
}

/* End Pagination */

/* Start Rows per page + info (under table) */
.rows-info {
    font-size: 0.85rem;
}

.rows-info h6 span {
    color: var(--gray-color);
    font-size: unset;
    font-weight: unset;
}

.rows-info .pages-numbers {
    border-inline-end: 1px solid var(--gray-color);
    padding-inline-end: 0.65rem;
}

.rows-info .pages-number-text {
    padding-inline-start: 0.65rem;
}

.rows-select {
    padding-inline-start: 0.25rem !important;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--gray-color);
    background-color: transparent;
    background-image: url("../assets/icons/Arrow_drop_left.svg");
    background-position: left 0.65rem center;
    background-size: 1.5rem;
}

.rows-select:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

/* End Rows per page + info (under table) */

/* Start Cms Content */
.cms-content ul {
    padding-inline-start: 1rem;
}

.cms-content ul li {
    list-style: disc;
    color: var(--gray-color);
}

.cms-content ul li::marker {
    color: var(--gray-color) !important;
    font-size: 0.7rem;
}

.contest-trip-section .cms-content h5 {
    color: var(--iskanovators-color);
}

.contest-trip-section .cms-content ul h5 {
    color: var(--gray-color);
}

/* End Cms Content */
/* Start Members Section */
.members-section .member-card-img {
    outline: 3px solid var(--primary-color);
    border-radius: 50%;
    padding: 5px;
}

.members-section .member-card p {
    color: var(--primary-color);
}

.members-section.secondary-members-section .member-card-img {
    outline-color: var(--secondary-color);
}

.members-section.secondary-members-section .member-card p {
    color: var(--secondary-color);
}

.names-of-finalists-section .member-card-img {
    width: 106px;
    height: 106px;
    outline-color: var(--iskanovators-color);
}

.names-of-finalists-section .iskanovators-btn {
    padding: 5px 10px;
}

.names-of-finalists-section .member-card-img-container .member-card-img:not(:first-child) {
    margin-inline-start: -50px;
    position: relative;
}

/* End Members Section */